body {
   background:
    linear-gradient(to bottom, #20207e 0%, #13133b 30%),
    linear-gradient(to bottom right, #13133b, #070718);
  
  background-blend-mode: overlay; /* try overlay, lighten, etc. */
  color: #e0e0ff;
  font-family: Arial, sans-serif;
  padding: 2rem;
  padding-top: 0;
  margin: 0;
  min-height: 100vh;
}

.header-content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

header {
  border-radius: 0px;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  background: linear-gradient(to bottom right, #bfffb3, #31c52c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p {
  font-size: 1.2rem;
}

hr {
  border: none;
  height: 3px;
  background: #444;
  margin: 2em 0;
}

main {
  margin-top: 2rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #888;
}